.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--heder-footer);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-list {
    font-style: normal;
    margin-top: 20px;
}

.footer-link,
.footer-studio {
    color: var(--primary-bg-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-contact {
    color: var(--contact);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-logo-contact {
    margin-right: 70px;
}

.footer .list {
    line-height: 1.7;
}

.footer-list-link {
    display: flex;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.footer-contact-list:not(:last-child) {
    margin-bottom: 9px;
}


.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

.footer-link-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-bg-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-svg:hover,
.footer-link-svg:focus {
    background-color: var(--accent-color);
}

.footer-cont-list {
    margin-top: 20px;
}

.footer-svg {
    fill: currentColor;
}

.footer-mail-input {
    display: flex;
}

.footer-mail .footer-input {
    box-sizing: border-box;
    background: #2f303a;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

label {
    cursor: default;
}

.footer-input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 295px 15px 16px;
}