.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px 0;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop {
    position: fixed;
    overflow: visible;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.btn-close {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--studio);
    background: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s, 0s;
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);}
}

.icon-close:hover,
.icon-close:focus {
    color: var(--accent-color);
}

.icon-close {
    fill: currentColor;
}

.form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.form-field .form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
}

.form-input {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--primari-text-color);
    width: 100%;
    padding: 12px 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

.form-input:hover,
.form-input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: var(--primari-text-color);
}

.form-input:hover~.name-svg,
.form-input:focus~.name-svg {
    color: var(--accent-color);
}

.name-svg {
    position: absolute;
    fill: currentColor;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
    resize: none;
    width: 448px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox-svg-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primari-text-color);
    margin-right: 7px;
    border-radius: 2px;
}

.checkbox-input:checked+.checkbox-svg-border {
    background: var(--accent-color);
    border: none;
}

.checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-label {
    display: flex;
    line-height: 1.7;
    align-items: center;
    color: var(--title-text-color);
}

.checkbox-label-link {
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 5px;
}

label {
    cursor: default;
}